<div class="page-header">
	<h1>Edit Child Information</h1>
	<br/>
	<%= link_to 'Back', children_path %>	|
	<%= link_to 'Show', @children %> 
		<br/><br/>

	<%= render 'form' %>

	<%= link_to 'Show', @children %> |
	<%= link_to 'Back', children_path %>
</div>